[
    { "idList": "list1" },
    { "idList": "list1" },
    { "idList": "list2" },
    { "idList": "list3" },
    { "idList": "list3" },
    { "idList": "list3" },
    { "idList": "list4" },
    { "idList": "list4" },
    { "idList": "list5" }
]
