[
    { "idList": 1, "idLabels": ["a"] },
    { "idList": 1, "idLabels": [] },
    { "idList": 2, "idLabels": ["b"] },
    { "idList": 3, "idLabels": [] },
    { "idList": 3, "idLabels": [] },
    { "idList": 3, "idLabels": [] },
    { "idList": 4, "idLabels": [] },
    { "idList": 4, "idLabels": [] },
    { "idList": 5, "idLabels": [] }
]
